[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
djongo = "*"
django-debug-toolbar = "*"
pymongo = "==3.12.3"
pytz = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.11"
