<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous" />
    <link rel="icon" href="{% static '/Images/Logo.svg' %}" />
    <title>Cure Pulse</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'CSS/biolerplate.css' %}" />
  </head>
  <body>
    <div>
      <nav class="navbar navbar-expand-xl">
        {% if request.user.is_authenticated %}
        <a class="navbar-brand" href="/ratings">
          <span>
            <img src="{% static '/Images/Logo.svg' %}" alt="Logo" />
            <span class="Webtitle">CureMD</span>
          </span>
        </a>
        {% else %}
        <a class="navbar-brand" href="/">
          <span>
            <img src="{% static '/Images/Logo.svg' %}" alt="Logo" />
            <span class="Webtitle">CureMD</span>
          </span>
        </a>
        {% endif %}
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="navLinks">
            <div class="nav-item">
              <a class="nav-link" href="/ratings">Ratings</a>
            </div>
          </div>
        </div>
        <div class="navButtons">
          {% if request.user.is_authenticated %}
          <div>
            <button
              class="button"
              id="userLogOut"
              onclick="window.location.href='/logout';">
              Logout
            </button>
          </div>
          {% endif %}
          <!-- {% if request.path != "/register" and not request.user.is_authenticated %}
                    <div>
                        <button class="button" id="userReg"
                            onclick="window.location.href='/register';">Register</button>
                    </div>
                    {% endif %} -->
          {% if request.path != "/login" and not request.user.is_authenticated%}
          {% if request.path != "/" %}
          <div>
            <button
              class="button"
              id="userLogIn"
              onclick="window.location.href='/login';">
              Login
            </button>
          </div>
          {% endif %} {% endif %}
        </div>
      </nav>
      <div>{% block content %} {% endblock %}</div>
      <script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
    </div>
  </body>
</html>
