{% extends 'biolerplate.html' %} {% block content %} {% load static %}

<link rel="stylesheet" href="{% static 'CSS/404.css' %}" />

{% csrf_token %}

<style>

  /* Add your CSS styles here */

  body {

    font-family: Arial, sans-serif;

    background-color: #f2f2f2;

    margin: 0;

    padding: 0;

  }

 

  h1 {

    font-size: 24px;

    color: #333;

    margin-bottom: 20px;

  }

 

  .d-flex {

    display: flex;

    flex-direction: row;

    align-items: center;

    margin-bottom: 10px;

  }

 

  .d-flex p {

    margin: 0;

    font-weight: bold;

    margin-right: 10px;

  }

 

  .d-flex #x-value,

  .d-flex #y-value,

  .d-flex #z-value,

  .d-flex #id-value {

    font-weight: normal;

  }

</style>

<div>

  <h1>Data Point Details</h1>

  <span class="d-flex flex-row"

    ><p>FileName:</p>

    <p id="x-value">{{ data.Filename }}</p></span

  >

  <span class="d-flex flex-row"

    ><p>Date:</p>

    <p id="y-value">{{ data.Date }}</p></span

  >

  <span class="d-flex flex-row"

    ><p>Call Duration:</p>

    <p id="z-value">{{ data.Call_Duration }}</p></span

  >

  <span class="d-flex flex-row"

    ><p>Call ID:</p>

    <p id="id-value">{{ data.obj_id }}</p></span

  >

  <p>

    <b>Please Note:</b> Any data corresponding to this ID can be displayed here

    or on any website, either using GET request or API.

  </p>

</div>

{% endblock %}