.buttonGroups {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 200px;
}

.button {
    background-color: steelblue;
    color: white;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: coral;
    color: black;
}

.personalizedGoals {
    background-color: #deeefa;
}

.nutritionPlan {
    display: flex;
    flex-direction: column;
    background-color: #ffdcbd;
}

.planArea {
    margin: 20px;
}

.breakfastPlan,
.lunchPlan,
.dinnerPlan {
    display: flex;
    flex-direction: row;
    margin: 0px 15px;
}

h1 {
    margin: 10px;
}

.goalsDetail,
.recommendationsDetail {
    text-align: justify;
    margin: 50px;
}

.Recommendations {
    background-color: #deeefa;
}

.personalInfo {
    background-color: #ffdcbd;
}

.detailBox {
    margin: 20px;
    display: flex;
    flex-direction: row;
}

.detailBoxLabel {
    font-weight: bold;
    font-size: 20px;
}

.detailBoxValue {
    font-size: 18px;
}