.login-container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid coral;
    box-shadow: 0 4px 10px rgb(61, 61, 61);
    text-align: center;
}

.login-container h2 {
    color: #333;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    margin: 10px 0;
    text-align: left;
    width: 100%;
}

.input-container label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: lightseagreen;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: coral;
}